---
interface Props {
	title: string;
}

const { title } = Astro.props;
import { Icon } from 'astro-icon/components';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<div class="flex justify-center items-center">
		<div class="bg-white container w-full flex">
			<input class="flex justify-start ml-60 w-auto h-9 pl-4 pr-14" type="text" placeholder="Types...">
			<div class="ml-2 text-amber-950 flex items-center">
				<Icon class="size-6" name="mdi:search" />
			</div>

			<div class="flex justify-center items-center">
				<img class="h-10" src="https://vonia.exdomain.net/image/catalog/logo/logo-vonia.png" alt="">
			</div>

			<div class="ml-80 flex justify-center items-center">
				<Icon class="h-5" name="mdi:shopping-cart-outline" />
			</div>
		</div>
	</div>
	<br>
	<header class="flex justify-center items-center">
		<menu class="ml-4 flex items-center justify-centers">
			<a href="#" class="hover:underline-offset-[6px] decoration-2 flex items-center mx-17 justify-center">
				HOME 
				<Icon class="mr-7" name="mdi:chevron-down" />
			</a>
			<a href="#" class="hover:underline-offset-[6px] decoration-2 flex items-center mx-17 justify-center">
				SHOP 
				<Icon class="mr-7" name="mdi:chevron-down" />
			</a>
			<a href="#" class="hover:underline-offset-[6px] decoration-2 flex items-center mx-17 justify-center">
				BLOG
				<Icon class="mr-7" name="mdi:chevron-down" />
			</a>
			<a href="#" class="hover:underline-offset-[6px] decoration-2 flex items-center mx-17 justify-center">
				SERVICES 
				<Icon class="mr-7" name="mdi:chevron-down" />
			</a>
			<a href="#" class="hover:underline-offset-[6px] decoration-2 flex items-center mx-17 justify-center">
				ABOUT US 
				<Icon class="mr-7" name="mdi:chevron-down" />
			</a>
			<a href="#" class="hover:underline-offset-[6px] decoration-2 flex items-center mx-17 justify-center">
				CONTACT US 
				<Icon class="mr-7" name="mdi:chevron-down" />
			</a>
	
		</menu>
	</header>



	<body>
		<slot />
	</body>
</html>
<style is:global>
	
</style>
